<!DOCTYPE html>
<html>
<head>
  <title>FIX ME</title>
  <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Special+Elite" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="css/photosite.css">
  <link type="text/css" rel="stylesheet" href="~/css/photosite.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top alt-colour">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand alt-colour override" style="color:rgb(232, 227, 174)" href="splash.html"><i class="fa fa-image fa-md"></i>  IMGS</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="alt-colour override"><a href="#">About</a></li>
        <li class="alt-colour override"><a href="#">Contact</a></li>
        <li class="alt-colour override"><a href="#">Other Pokemon</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="alt-colour override"><a href="#">Sign Up</a></li>
        <li class="alt-colour override"><a href="#"></span> Login</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="jumbotron">
      <h1><i class="fa fa-image fa-lg float nope"></i>The Pokedex Gallery</h1>
      <p class="shifty">My program wants a pretty image gallery</p>
      <p class="shifty" style="font-size:small">...but I want pokemon.</p>
    </div>
    <div class="row"><!--row 1-->
      <div class="col-md-4 col-sm-6"><img class="img-thumbnail sized" alt="Eevee" src="images/pokemon/eevee.png" /></div>
      <div class="col-md-4 col-sm-6"><img class="img-thumbnail sized" alt="Umbreon" src="images/pokemon/umbreon.png" /></div>
      <div class="col-md-4 col-sm-6"><img class="img-thumbnail sized" alt="Espeon" src="images/pokemon/espeon.png" /></div>
      <div class="col-md-4 col-sm-6"><img class="img-thumbnail sized" alt="Flareon" src="images/pokemon/flareon.png" /></div>
      <div class="col-md-4 col-sm-6"><img class="img-thumbnail sized" alt="Jolteon" src="images/pokemon/jolteon.png" /></div>
      <div class="col-md-4 col-sm-6"><img class="img-thumbnail sized" alt="Vaporeon" src="images/pokemon/vaporeon.png" /></div>
      <div class="col-md-4 col-sm-6"><img class="img-thumbnail sized" alt="Glaceon" src="images/pokemon/glaceon.png" /></div>
      <div class="col-md-4 col-sm-6"><img class="img-thumbnail sized" alt="Leafeon" src="images/pokemon/leafeon.png" /></div>
      <div class="col-md-4 col-sm-6"><img class="img-thumbnail sized" alt="Sylveon" src="images/pokemon/sylveon.png" /></div>
    </div>
  </div>
</body>
</html>
