<!DOCTYPE html>
<html>
<head>
  <title>FIX ME</title>
  <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Special+Elite" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="css/splash.css">
  <link rel="stylesheet" href="~/css/splash.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top alt-colour">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand alt-colour override" style="color:rgb(31,234,0)" href="#"><i class="fa fa-image fa-md"></i>  IMGS</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="alt-colour override"><a href="#">About</a></li>
        <li class="alt-colour override"><a href="#">Contact</a></li>
        <li class="alt-colour override"><a href="photosite">Portfolio</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="In-op">
        </div>
        <button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-search"></span></button>
      </form>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h1 class="center">JJ'S CREATIVE SPACE</h1>
        <p id="splash">Semi-decent web design and game coding</p>
        <p>(crazy love of Pokemon and Lovecraftian Horrors)</p>
        <hr width="50%" color="green">
        <a href= "#" class="btn btn-success btn-md">Enter the zone!</a>
      </div>
      <div class="col-md-2"></div>
    </div>

  </div>
</body>
</html>